table {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(3),
tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5),
tr:nth-child(1) td:nth-child(6) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .7s;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3),
tr:nth-child(2) td:nth-child(4),
tr:nth-child(2) td:nth-child(5),
tr:nth-child(2) td:nth-child(6) {
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5),
tr:nth-child(3) td:nth-child(6){
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}
tr:nth-child(4) td:nth-child(1),
tr:nth-child(4) td:nth-child(2),
tr:nth-child(4) td:nth-child(3),
tr:nth-child(4) td:nth-child(4),
tr:nth-child(4) td:nth-child(5),
tr:nth-child(4) td:nth-child(6){
  padding-bottom: 7px;
  -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}

tr:nth-child(2),
tr:nth-child(3),tr:nth-child(4) {
  font-size: .9em;
}

tr:nth-child(2),tr:nth-child(4) {
  color: #999;
}


