<!-- Search bar -->
<div class="main">
  <div class="row mt-5">
    <div class="container p-4">
      <form>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            [(ngModel)]="location"
            name="location"
            aria-describedby="weatherLocation"
            placeholder="Enter a Location"/>
        </div>
        <div class="error" *ngIf="inputerror">
          <p>Enter the location</p>
        </div>
        <div class="text-center">
          <button type="submit" (click)="SearchLocation()" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- Weather card -->
<weather class="text-center" [WeatherData] = "WeatherData" [isLoading]="isLoading" [nooutput]="nooutput"></weather>
<!-- End Weather card -->
